<h2 mat-dialog-title>Update scooter</h2>
<mat-dialog-content>
  <form [formGroup]="add">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Brand</mat-label>
      <input formControlName="brand" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Price</mat-label>
      <input type="number" formControlName="price" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Year</mat-label>
      <input type="number" formControlName="year" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Max km/h</mat-label>
      <input type="number" formControlName="maxKmh" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>License plate</mat-label>
      <input formControlName="licensePlate" matInput>
    </mat-form-field>
    <div class="img-banner">
      <mat-expansion-panel [disabled]="data.photo ==''">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Click to see image
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="img-div-wrapper row">
          <div class="img-wrapper">
            <img [src]="data.photo">
            <img name="image" class="column" [src]="croppedImage">
            <image-cropper class="column" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
              [aspectRatio]="2/ 2" format="webp" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()">
            </image-cropper>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <mat-dialog-actions>
      <input style="width: 100%;" #imageInput id="file-upload" type="file"
        accept="image/x-png,image/jpeg,image/jpg,image/gif" (change)="fileChangeEvent($event)" #fileUpload>
      <a mat-flat-button color="accent" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>Upload image
      </a>
      <button mat-flat-button color="primary" [disabled]="!add.valid" [mat-dialog-close]="true"
        (click)="updateScooter()">Update scooter</button>
      <button mat-flat-button color="warn" mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
