<app-menu [menu]="true" state="menu"></app-menu>
<div class="ion-page" id="main-content">
  <app-menu-header title="Home menu"></app-menu-header>
  <ion-content [fullscreen]="true" class="vertical-center">
    <div class="scooter-list">
      <ion-text class="header">
        <h1 class="text-center">SCOOTER CRUD</h1>
      </ion-text>
      <ion-grid>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Brand</th>
            <td mat-cell *matCellDef="let element">{{element.brand}}</td>
          </ng-container>
          <ng-container matColumnDef="licensePlate">
            <th mat-header-cell *matHeaderCellDef>licensePlate</th>
            <td mat-cell *matCellDef="let element">{{element.licensePlate}}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Build year</th>
            <td mat-cell *matCellDef="let element">{{element.year}}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Rent Price per month</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th style="text-align: right;" mat-header-cell *matHeaderCellDef>
              <button mat-button color="primary" (click)="add()">Add scooter</button>
            </th>
            <td style="text-align: right;" mat-cell *matCellDef="let element" class="action-link">
              <button mat-button color="accent" (click)="edit(element)">Edit</button>
              <button mat-button color="warn" (click)="confirm(element)">Delete</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </ion-grid>
    </div>
  </ion-content>
</div>
